<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.enthusa.askdata.mapper.BiDataSourceMapper">
  <resultMap id="BaseResultMap" type="org.enthusa.askdata.entity.BiDataSource">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="details" property="details" jdbcType="VARCHAR"/>
    <result column="catalogs" property="catalogs" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, details, catalogs, create_time, update_time
  </sql>
  <insert id="insertSelective" parameterType="org.enthusa.askdata.entity.BiDataSource"
          useGeneratedKeys="true" keyProperty="id">
    insert into bi_data_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="catalogs != null">
        catalogs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="catalogs != null">
        #{catalogs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.enthusa.askdata.entity.BiDataSource">
    update bi_data_source
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="catalogs != null">
        catalogs = #{catalogs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
